<!DOCTYPE html>
<html>
<head>
    <title>YelpCamp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
</head>
<body>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <div class="navbar-header">
        <a href="/" class="navbar-brand">YelpCamp</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="nav navbar-nav ml-auto">
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Sign up</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>