<html ng-app>
<head>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="controller.css">
  <script type='text/javascript' src="angular.min.js"></script>
  <script type='text/javascript' src="jquery.js"></script>
  <script type='text/javascript' src="bootstrap.min.js"></script>
</head>
<body style="padding: 50px"
      ng-init="booksRead = [ 
               { name: 'Core Java', date: '2017-09-05' },
               { name: 'Javascript In 24 Hours', date: '2017-11-13', description: 'javascript and DOM'},
               { name: 'Eloquent Javascript', date: '2017-11-01', description: 'functional programming'},
               { name: 'Working With Algorithms In Python', date: '2017-11-20', description: 'brute force\\nshortest path first'} ]">

<p>Filter list: <input ng-model="searchFor" size="30"/></p>

<div style="width: 300px; float: left; margin-right: 20px" ng-repeat="book in booksRead | filter:searchFor" class="panel panel-default">
  <div class="panel-heading"> {{ book.name }} ({{ book.date }})</div>
  <div class="panel-body">
    {{ book.description }}
  </div>
</div>

<div style="clear: left"></div>
</body>
</html>
