<h1>This is the secret page</h1>
<h4>You found me!</h4>
<img src="https://farm6.staticflickr.com/5487/11519019346_f66401b6c1.jpg" alt="">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>