td {
    width: 100px;
    height: 100px;
}
tr td:nth-child(2) {
    border-left: solid 1px;
    border-right: solid 1px;
}
tr:nth-child(2) td {
    border-top: solid 1px;
    border-bottom: solid 1px;
}
table {
    margin: auto;
}
h1 {
    text-align: center;
}